[user]
  name = Ryan Sheatsley
  email = ryan@sheatsley.me
  signingkey = AF5888815A509644
[commit]
  gpgSign = True
[url "https://github.com/"]
  insteadOf = gh:
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
